.movie-card {
	position: relative;
	transition: transform 0.2s;
}

.movie-card:hover {
	cursor: pointer;
	transform: scale(1.1);
}


.movie-card:hover .overlay {
	opacity: 2;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.card-container{
  margin-top: 20px;
  float: left;
  padding: 20px 20px;
 
}

.header{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(247, 156, 156);
	font-family: 'Lato', sans-serif;
	
}

body {
	background-color: #000000;
	color: #ffffff;
}

.card-footer{
	background-color: rgb(56, 55, 50);
	height: 10px;
}

.link{
	text-decoration: none;
  color: white;
  text-align: center;
  
  
}



