.movie-card {
	position: relative;
	transition: transform 0.2s;
}

.movie-card:hover {
	cursor: pointer;
	transform: scale(1.1);
}


.movie-card:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.card-container{
  margin-top: 20px;
  float: right;
  padding: 20px 20px;
 
}

